.map-entry
  .thumbnail.well
    .page-heading
      %h4=map.name
    =image_tag map.mapimage.thumb.url
    %p
      .btn-group
        =link_to "#", class: 'btn btn-primary dropdown-toggle', data: {toggle: 'dropdown'} do
          Download:
          %span.caret
        %ul.dropdown-menu
          %li
            =link_to "GeoTiff", map.mapimage.url, :target => "_blank"
          %li
            =link_to "JPEG", map.mapimage.url(:jpg), :target => "_blank"
          %li
            =link_to "World", map.mapimage.url(:world), :target => "_blank"
          %li
            =link_to "AuxXML", map.mapimage.url(:auxxml), :target => "_blank"
          %li
            =link_to "Prj", "http://spatialreference.org/ref/epsg/3338/prj/"
    .page-heading
      %h3= "Metadata"
      
    =#map.bbox
