.navbar
  .navbar-inner
    .container
      %a{:href=>'#', :class => "brand"}MakeMap
      
      %ul.nav.pull-right
        %li
          =link_to "Code", "http://github.com/gina-alaska/makemap"
        %li
          =link_to "Issues", "http://github.com/gina-alaska/makemap/issues"
        %li
          =link_to "Help", "#help"
.container-fluid
  #map-controls
    .btn-toolbar
      .btn-group
        #panTool.btn.btn-primary{'data-toggle' => 'button'}
          Pan
        #aoiTool.btn.btn-primary{'data-toggle' => 'button'}
          Select AOI
      .btn-group
        =#link_to "Layer", "#", {'data-toggle' => 'dropdown', class: 'btn btn-inverse btn-dropdown'}
        =#render 'layers'
        #options.btn.btn-inverse
          Options
      .btn-group
        #makeMapBtn.btn.btn-warning
          Make Map
  .row-fluid
    #map-container.span12
      
#infoBox.modal.hide
  .modal-header
    Please Wait....
  .modal-body
    .progress.active
      .bar{:style => "width: '40%'"}

#map-form.modal.hide
  .modal-header
    Configure your map
  .modal-body
    =render 'form'
  .modal-footer
    .modal-close.btn.pull-right
      Accept

#show-map.modal.hide
  .modal-header
    About your map
  .modal-body
  .modal-footer
    .modal-close.btn.pull-right
      Close