.navbar
	.navbar-inner
		.container
			%a{:href=>'#', :class => "brand"}MakeMap
			
			%ul.nav.pull-right
				%li
					=link_to "Code", "http://github.com/gina-alaska/makemap"
				%li
					=link_to "Issues", "http://github.com/gina-alaska/makemap/issues"
				%li
					=link_to "Help", "#help"
#makemap
	#control-panel
		#map-toolbar.btn-toolbar
			.btn-group{"data-toggle" => 'buttons-radio'}
				#panTool.geoPan.btn
				#aoiTool.geoShapeSquare.btn
			.btn-group
				#clearTool.geoClear.btn
		%ul.nav.nav-tabs
			%li.active
				=link_to "New", "#newmap", 'data-toggle' => 'tab'
			%li
				=link_to "Saved", "#savedMaps", 'data-toggle' => 'tab'
		.tab-content.container
			#newmap.tab-pane.active
				=render 'form'
				%pre
					Metadata
			#savedMaps.tab-pane
				%ul.thumbnails.scrollme
					=render @maps
	#map-container
	

.navbar.navbar-fixed-bottom
	.navbar-inner
		.container
			.nav.pull-left
				Powered by GINA
			.nav.pull-right
				Built with Bootstrap
				
#infoBox.modal.hide
	.modal-header
		Please Wait....
	.modal-body
		.progress.active
			.bar{:style => "width: '40%'"}