/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
//@import "compass/css3";
@import "bootstrap";

$active-tool-bg: #FF0;
$active-tool-border-color: red;
$inactive-tool-bg: #FFF;
$inactive-tool-border-color: white;
$mouse-bg: #FFF;

$gina-dark: #4d4d4d;
$gina-highlight: #edb329;
$gina-light: #FFF;
$beta-red: #c20000;
$base-color: $gina-dark;
$panel-body-background-color: $gina-dark;


.navbar {
  margin-bottom: 0px;
}
.input-prepend {
  .add-on {
    margin-right: -5px;
  }
  input {
    box-sizing: content-box;
    margin-bottom: 0px;
  }
  select {
    margin-bottom: 0px;
  }
}

html {
  height: 100%;
  min-height: 100%;
}

.container-fluid {
  .without-pading {
    padding: 0px;
  }
}

.map-request-window {
  .map-entry {
    text-align: center;
    width: 100%;
    height: 100%;
  }
}

.map-list {
  .map-entry {
    display: inline-block;
    width: 290px;
  }
}

#map-controls {
  position: absolute;
  top: 40px;
  left: 60px;
  z-index: 1000;
}
#map-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 40px;
  bottom: 0px;
}

.dropdown-menu {
  z-index: 10000;
}

.olControlPanel {
  right: 20px;
  top: 0;

  div {
    display:block;
    float: right;
    width: 28px;
    height: 28px;
    margin: 5px;
    background-color: #fff;
  }
}

@mixin mapToolIcons($name, $icon, $iconOpts: '') {
  .#{$name}Active {
    background: url($icon) no-repeat #{$iconOpts};
    @include border-radius(3px);
    border: 1px solid $active-tool-border-color;
    background-color: $active-tool-bg;
    background-color: transparentize($active-tool-bg, 0.25);
  }
  .#{$name}Inactive {
    background: url($icon) no-repeat #{$iconOpts};
    @include border-radius(3px);
    border: 1px solid $inactive-tool-border-color;
    background-color: $inactive-tool-bg;
    background-color: transparentize($inactive-tool-bg, 0.25);
  }
}

.olControlPanel {
  @include mapToolIcons('olControlSelectFeatureItem', '/assets/geo/pointer-info.png');
  @include mapToolIcons('olControlDrawFeatureItem', '/assets/geo/shape_square_blue.png', '5px 5px');
}


.olControlMousePosition {
  background-color: $mouse-bg;
  background-color: transparentize( $mouse-bg, 0.25 );
}

.geoShapeSquare {
  width: 14px;
  height: 14px;
  background: url('/assets/geo/shape_square_blue.png') center no-repeat;
}

.geoPan {
  width: 14px;
  height: 14px;
  background: url('/assets/geo/pan.png') center no-repeat;
}

.geoClear {
  width: 14px;
  height: 14px;
  background: url('/assets/geo/vector_delete.png') center no-repeat;
}

.poweredBy {
  background: $gina-dark;
  color: $gina-light;
  font-size: 14px;
  font-weight: bold;
  a {
    text-decoration: none;
    color: $gina-highlight;
  }
}

.saved_map {
  .map_image {
    display: inline-block;
  }
  .metadata {
    vertical-align: top;
    display: inline-block;
    .wms {
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

.savedlist {
  font-size: 14px;

  .saved_wrap {
    position: relative;
    display:block;
    min-height: 32px;
    clear: both;
    height: 120px;

    .map_image {
      display: inline-block;
      margin-top: 10px;
    }
    .map_info {
      display: inline-block;
      padding: 5px;
      //margin-right: 16px;
      vertical-align: top;
      .name {
        font-weight: bold;
      }
      .stats {
        overflow: hidden;
      }
    }
    .saved_thumb {
      width: 100px;
      height: 100px;
    }

    &.x-item-over {
      background-color: #BBDDFF;
    }

    &.x-item-selected {
      background-color: #AABBFF;
    }
  }
}
